<!DOCTYPE html>
<html lang="en">
<!--------------------------------------------------->
<!--Pharloom Encyclopedia - character-template.html-->
<!--Author: Kole Fiala                             -->
<!--------------------------------------------------->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharloom Encyclopedia :: Characters</title>
    <link rel="stylesheet" href="../../styles/main.css">
    <script src="../../javascript/parallax.js" defer></script>
    <script src="../../javascript/data/character-data.js" defer></script>
    <script src="../../javascript/page/character-page.js" defer></script>
    <script src="../../javascript/main.js" defer></script>
</head>

<body>
    <header>
        <div class="header-content">
            <h1 id="character-name-header">Loading...</h1>
        </div>
        <button class="menu-toggle" aria-label="Toggle navigation" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>

    <nav>
        <ul class="nav">
            <li><a href="../index.html" class="parallax-nav"><img src="../../images/icons/nav/home.png" alt=""
                        class="nav-icon">Home</a></li>
            <li><a href="../map.html" class="parallax-nav"><img src="../../images/icons/nav/map.png" alt=""
                        class="nav-icon">Map</a></li>
            <li><a href="../characters.html" class="parallax-nav"><img src="../../images/icons/nav/characters.png"
                        alt="" class="nav-icon">Characters</a></li>
            <li><a href="../tools.html" class="parallax-nav"><img src="../../images/icons/nav/tools.png" alt=""
                        class="nav-icon">Tools</a></li>
            <li><a href="../enemies.html" class="parallax-nav"><img src="../../images/icons/nav/enemies.png" alt=""
                        class="nav-icon">Enemies</a></li>
        </ul>
    </nav>

    <div id="character-content-container" class="glass-container">
        <!--Character information will be loaded here-->
        <p>Loading character information...</p>
    </div>

    <footer>
        <p>Fanmade, not associated with Team Cherry</p>
        <button id="back-to-top-btn" title="Go to top"><img src="../../images/icons/arrow.png" alt="Up Arrow"></button>
    </footer>
</body>



</html>